<form id="hit_form" action="/game/player/hit" method="post">
	<input type="submit" class="btn btn-success" value="Hit" />
</form>
<form id="stay_form" action="/game/player/stay" method="post">
	<input type="submit" class="btn btn-warning" value="Stay" />
</form>